body{
  background:#fff;
  margin:0 auto;
  font-family: sans-serif;
}
.container{
  margin:0 auto;
}
.button{
  background:#ddd;color:#666;
  padding:8px 12px;border-radius:12px;
  border:1px solid #ccc;
  margin: 120px;
}
.content_screen{
  text-align:center;
}
.welcome{
  text-align:center;margin:120px;
}
